<div class="col">
    <div class="card h-100 position-relative">
        <img src="@Url.Content("~/"+@Model.ImageUrl)" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h2 class="card-title text-dark">
                <a asp-controller="Service" asp-action="Details" asp-route-id="@Model.ServiceId"
                    class="service-link">@Model.Name</a>
            </h2>
        </div>
    </div>
</div>